[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML
[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib
[submodule "inipp"]
	path = inipp
	url = https://github.com/mcmtroffaes/inipp.git
